@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100svh;
  background: linear-gradient(136.56deg, #8a53b6 0%, #cea2d0 97.42%) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', 'LatoWeb', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.gradient-bg-1{
  background: linear-gradient(136.56deg, #8a53b6 0%, #cea2d0 97.42%) no-repeat;
}

.gradient-bg-2{
  background: linear-gradient(92.12deg, #57b5f9 0%, #da11ba 100%);
}